html {
    font-family: 'Times New Roman', Times, serif;
}

table {
    border-collapse: collapse; 
    width: 100%;
}

caption {
    font-weight: bold;
    margin-bottom: 10px;
}

th {
    border: 2px solid black;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    text-align: center;
}

td {
    border: 2px solid black;
    padding: 8px;
}
